.connect-four-board {
  border-collapse: collapse;
  table-layout: fixed;
}

.connect-four-board td {
  border: 6px solid #222;
  height: 125px;
}

.connect-four-board td:after {  
  content: "";
  display: block;
}
  