
/* Dark Theming: https://github.com/milligram/milligram-themes/blob/master/examples/dark.css */
body {
  background: #2c2f34;
  color: #f2f2f2;
}

.navigation .title,
.navigation-title {
  color: #f2f2f2;
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}

.navigation {
  background: #34373c;
  border-bottom: 0.1rem solid #1b1c1d;
}

.header {
  padding-top: 5rem;
  background-color: #141518;
}

.header .container {
  border-top: 0;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
  position: relative;
  text-align: center;
}

pre {
  background: #141518;
}

.prettyprint {
  color: #f2f2f2;
}

.prettyprint.lang-md * {
  color: #f2f2f2 !important;
}

code {
  background: #141518;
}

.prettyprint .atv {
  color: rgba(73, 158, 223, 1);
}

.showcase-hero {
  max-width: 100%;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
  width: 100%;
  text-align: center;
}