<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A place to play board games online">
    <meta name="og:title" property="og:title" content="Plank Games - A place to play board games online">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Plank Games" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    />
  </head>
  <body class="bg-white dark:bg-slate-900">
    <main>
      <nav class="relative flex flex-wrap items-center justify-between py-4 w-full px-32 text-gray-500 shadow-2xl navbar navbar-expand-lg navbar-light">
        <section>
          <a href="/">
            <h1 class="text-xl hover:text-gray-700 focus:text-gray-700">Plank Games</h1>
          </a>
        </section>
      </nav>
      <%= @inner_content %>
    </main>
  </body>
</html>
